<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
  </head>
  <body>
    <div class="banner">
      <h1>Sovigon Hobby Site</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a href="/art">Art</a></li>
        <li><a href="/coding">Coding</a></li>
        <li><a href="/3d-printing">3D Printing</a></li>
      </ul>
    </div>
    {% block body%}
  
    {% endblock %}
    <div class="footer">
      <div class="contact">
        <h3>Contact Me:</h3>
        <h4>
          Email: cctaylor29@gmail.com <br>
          Github: Sovigon <br>
          Twitter: words <br>
          Instagram: words <br>
        </h4>
      </div>
      <div class="version">
        <h3>Last Updated: 10/12/2023</h3>
        <h4>
          Made with the Following: <br>
          HTML 5.1 <br>
          CSS 3.6 <br>
          Python 3.10 <br>
          Flask 2.9 <br>
          JavaScript 6.1 <br>
          React 4.7
        </h4>
      </div>
    </div>
  </body>
</html>
